.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
  }
  
  .csv-result-table {
    margin: 5%;
    border: 1px solid #73AD21;
  
  }
  
  table, th, td {
    border: 1px solid black;
  }